In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
#總分由小到大sort_values  ascemding=false指由大到小 iloc[:5]前五比
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文  英文   數學  地理   歷史   總分    平均    名次
學號
34   99  64   97  93   69  422  84.4   1.0
12   99  88   75  65   90  417  83.4   2.0
24   63  84   78  98   91  414  82.8   3.0
23   94  93   80  65   73  405  81.0   4.0
5   100  92   82  89   42  405  81.0   4.0
20   59  93   99  74   76  401  80.2   6.0
47   96  62   77  82   83  400  80.0   7.0
49   75  93   41  93   97  399  79.8   8.0
36   86  97   76  70   61  390  78.0   9.0
41   76  82   99  50   79  386  77.2  10.0
13   51  77   90  86   82  386  77.2  10.0
44   70  53   63  96  100  382  76.4  12.0
45   59  78   84  88   70  379  75.8  13.0
4    62  91   94  42   89  378  75.6  14.0
43   44  94   86  87   67  378  75.6  14.0
21   97  97   64  67   52  377  75.4  16.0
7    84  91   62  79   58  374  74.8  17.0
18   78  78   80  43   94  373  74.6  18.0
35   92  70   59  68   84  373  74.6  18.0
38   83  85   75  67   59  369  73.8  20.0
30   94  69   78  73   52  366  73.2  21.0
26   97  57   40  84   88  366  73.2  21.0
46   40  56  100  97   70  363  72.6  23.0
22   97  62   60  60   83  362  72.4  24.0
31   77  85   43  87   65  357  71.4  25.0
19   87  89   86  54   40  356  71.2  26.0
3    89  50   84  83   47  353  70.6  27.0
27   88  70   66  74   52  350  70.0  28.0
40   76  79   56  41   94  346  69.2  29.0
42   56  47   71  96   74  344  68.8  30.0
37   58  78   90  50   65  341  68.2  31.0
16   42  94   84  52   65  337  67.4  32.0
32   47  98   52  48   89  334  66.8  33.0
17   62  79   43  65   84  333  66.6  34.0
2    72  44   83  67   66  332  66.4  35.0
25   71  61   45  79   75  331  66.2  36.0
39   77  49   72  79   53  330  66.0  37.0
33   62  46  100  48   62  318  63.6  38.0
1    45  83   57  78   53  316  63.2  39.0
50   42  87   75  43   69  316  63.2  39.0
6    40  84   92  42   52  310  62.0  41.0
14   63  71   47  47   80  308  61.6  42.0
9    66  48   52  42   98  306  61.2  43.0
11   63  66   43  72   61  305  61.0  44.0
28   65  82   50  50   45  292  58.4  45.0
10   55  45   89  50   52  291  58.2  46.0
8    74  58   41  48   63  284  56.8  47.0
15   42  48   47  71   64  272  54.4  48.0
29   41  64   44  74   43  266  53.2  49.0
48   41  54   51  41   70  257  51.4  50.0

In [2]:
#median 中間數
#series 計算值  pd.series顯示出表格
def fun1(series:pd.Series) -> int: 
    min = series.min()
    median = series.median()
    max = series.max()  
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文    英文     數學    地理     歷史
最低分   40.0  44.0   40.0  41.0   40.0
中間值   70.5  78.0   75.0  69.0   69.0
最高分  100.0  98.0  100.0  98.0  100.0

In [13]:
#count 求值的數量
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    return pd.Series([lessThen60],index=['不及格科目'])

display(subject_df.T) #.T轉換格式
subject_df.T.apply(fun2) #統計幾個不及格

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,93,56,54,69,43,91,72,52,65,83,...,42,46,71,85,46,72,84,42,85,58
英文,55,54,96,44,88,60,76,64,79,89,...,74,76,71,85,89,82,100,51,92,40
數學,70,83,93,57,45,52,73,54,52,87,...,60,88,60,80,86,87,48,53,80,42
地理,88,44,67,70,98,72,76,77,42,100,...,53,67,43,71,72,54,59,83,51,53
歷史,64,47,81,88,84,80,81,81,75,57,...,64,68,44,64,72,89,53,45,40,91

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,4,1,2,2,1,0,2,2,1,...,2,1,2,0,1,1,3,4,2,4

In [14]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()    
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"

    return pd.Series([lessThen60,chinese,english],index=['不及格科目',"國文","英文"])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,93,56,54,69,43,91,72,52,65,83,...,42,46,71,85,46,72,84,42,85,58
英文,55,54,96,44,88,60,76,64,79,89,...,74,76,71,85,89,82,100,51,92,40
數學,70,83,93,57,45,52,73,54,52,87,...,60,88,60,80,86,87,48,53,80,42
地理,88,44,67,70,98,72,76,77,42,100,...,53,67,43,71,72,54,59,83,51,53
歷史,64,47,81,88,84,80,81,81,75,57,...,64,68,44,64,72,89,53,45,40,91

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,4,1,2,2,1,0,2,2,1,...,2,1,2,0,1,1,3,4,2,4
國文,及格,不及格,不及格,及格,不及格,及格,及格,不及格,及格,及格,...,不及格,不及格,及格,及格,不及格,及格,及格,不及格,及格,不及格
英文,不及格,不及格,及格,不及格,及格,及格,及格,及格,及格,及格,...,及格,及格,及格,及格,及格,及格,及格,不及格,及格,不及格