In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文   英文  數學   地理  歷史   總分    平均    名次
學號
10   83   89  87  100  57  416  83.2   1.0
31  100   63  73   82  97  415  83.0   2.0
37   93   89  54   95  78  409  81.8   3.0
22   59  100  67   84  93  403  80.6   4.0
23   41   91  96   80  94  402  80.4   5.0
29   75   87  93   70  73  398  79.6   6.0
25   95   70  68   65  97  395  79.0   7.0
30   99   81  71   59  83  393  78.6   8.0
3    54   96  93   67  81  391  78.2   9.0
27   96   93  63   76  63  391  78.2   9.0
24   55   63  92   83  98  391  78.2   9.0
11   63   79  62   99  85  388  77.6  12.0
44   85   85  80   71  64  385  77.0  13.0
46   72   82  87   54  89  384  76.8  14.0
32   76   42  95   79  90  382  76.4  15.0
7    72   76  73   76  81  378  75.6  16.0
19   80   71  71   55  98  375  75.0  17.0
1    93   55  70   88  64  370  74.0  18.0
35   95   49  53   84  86  367  73.4  19.0
45   46   89  86   72  72  365  73.0  20.0
21   94   45  75   90  54  358  71.6  21.0
39   61   64  93   81  59  358  71.6  21.0
5    43   88  45   98  84  358  71.6  21.0
6    91   60  52   72  80  355  71.0  24.0
49   85   92  80   51  40  348  69.6  25.0
34   53   96  62   44  90  345  69.0  26.0
42   46   76  88   67  68  345  69.0  26.0
47   84  100  48   59  53  344  68.8  28.0
33   88   42  56   97  55  338  67.6  29.0
16   94   75  57   67  43  336  67.2  30.0
38   68   77  53   67  71  336  67.2  30.0
12   70   66  48   85  61  330  66.0  32.0
4    69   44  57   70  88  328  65.6  33.0
8    52   64  54   77  81  328  65.6  33.0
17   97   51  63   40  75  326  65.2  35.0
40   57   82  53   43  88  323  64.6  36.0
26   71   78  75   41  57  322  64.4  37.0
18   45   93  99   42  42  321  64.2  38.0
9    65   79  52   42  75  313  62.6  39.0
14   65   90  40   52  63  310  62.0  40.0
13   63   52  65   81  46  307  61.4  41.0
28   56   72  44   65  68  305  61.0  42.0
20   50   83  46   44  75  298  59.6  43.0
36   69   55  71   44  55  294  58.8  44.0
41   42   74  60   53  64  293  58.6  45.0
43   71   71  60   43  44  289  57.8  46.0
15   85   43  64   47  46  285  57.0  47.0
2    56   54  83   44  47  284  56.8  48.0
50   58   40  42   53  91  284  56.8  48.0
48   42   51  53   83  45  274  54.8  50.0

In [4]:
#median 中間數
#series 計算值  pd.series顯示出表格
def fun1(series:pd.Series) -> int: 
    min = series.min()
    median = series.median()
    max = series.max()  
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文     英文    數學     地理    歷史
最低分   41.0   40.0  40.0   40.0  40.0
中間值   69.5   75.5  64.5   68.5  72.5
最高分  100.0  100.0  99.0  100.0  98.0

In [13]:
#count 求值的數量
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    return pd.Series([lessThen60],index=['不及格科目'])

display(subject_df.T) #.T轉換格式
subject_df.T.apply(fun2) #統計幾個不及格

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,93,56,54,69,43,91,72,52,65,83,...,42,46,71,85,46,72,84,42,85,58
英文,55,54,96,44,88,60,76,64,79,89,...,74,76,71,85,89,82,100,51,92,40
數學,70,83,93,57,45,52,73,54,52,87,...,60,88,60,80,86,87,48,53,80,42
地理,88,44,67,70,98,72,76,77,42,100,...,53,67,43,71,72,54,59,83,51,53
歷史,64,47,81,88,84,80,81,81,75,57,...,64,68,44,64,72,89,53,45,40,91

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,4,1,2,2,1,0,2,2,1,...,2,1,2,0,1,1,3,4,2,4

In [14]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()    
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"

    return pd.Series([lessThen60,chinese,english],index=['不及格科目',"國文","英文"])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,93,56,54,69,43,91,72,52,65,83,...,42,46,71,85,46,72,84,42,85,58
英文,55,54,96,44,88,60,76,64,79,89,...,74,76,71,85,89,82,100,51,92,40
數學,70,83,93,57,45,52,73,54,52,87,...,60,88,60,80,86,87,48,53,80,42
地理,88,44,67,70,98,72,76,77,42,100,...,53,67,43,71,72,54,59,83,51,53
歷史,64,47,81,88,84,80,81,81,75,57,...,64,68,44,64,72,89,53,45,40,91

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,4,1,2,2,1,0,2,2,1,...,2,1,2,0,1,1,3,4,2,4
國文,及格,不及格,不及格,及格,不及格,及格,及格,不及格,及格,及格,...,不及格,不及格,及格,及格,不及格,及格,及格,不及格,及格,不及格
英文,不及格,不及格,及格,不及格,及格,及格,及格,及格,及格,及格,...,及格,及格,及格,及格,及格,及格,及格,不及格,及格,不及格